@*Contact information*@
@{
    ViewBag.Title = Resources.Contact.Title;
}
<h2>@Resources.Contact.Title</h2>
<h3>@Resources.Contact.Message</h3>

<address>
    <strong>@Resources.Contact.Email:</strong>   <a href="erick_alkari@live.com">erick_alkari@live.com</a><br />
    <strong>@Resources.Contact.Phone:</strong> 044 55 3672 3262
</address>